<!-- <app-crud></app-crud> -->
<app-auth></app-auth>
<app-crud [crudValue]="crud"></app-crud>
<table border="1" id="example">
    <tr>
        <th>Firstname</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Dept</th>
        <th>Salary</th>
    </tr>
    <tr *ngFor="let list of lists">
        <td>{{list.FirstName}}</td>
        <td>{{list.LastName}}</td>
        <td>{{list.Age}}</td>
        <td>{{list.Dept}}</td>
        <td>{{list.Salary}}</td>
        <td><mat-icon (click)="onRemove(list.id)">delete</mat-icon>&nbsp;
          <mat-icon (click)="onEdit(list)">edit</mat-icon></td>
    </tr>
</table>
